@font-face {
  font-family: 'Floral';
  src: url('floral.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header .title {
  font-family: Floral;
  color: #FFC0CB;
  flex-grow: 1;
  text-align: center;
  font-size: 80px; /* Adjust this value as necessary to fit your design */
}

.header img {
  max-width: 150px;
  height: auto;
}

body {
  background-color: #2C3E50; 
  color: #fff; 
}

.message-form {
  margin-top: -100px; /* Negative margin value to move it up, adjust as needed */
}

.latest-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 90%;
  height: auto;
  margin: auto;
  padding: 40px;
}

.latest-message-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.latest-message {
  font-family: Floral;
  font-size: 80px;
  font-weight: normal;
  color: #FFDAB9; 
}
