.App {
  text-align: center;
}

body {
  background-color: #CBC3E3; 
  color: #fff; 
}

.latest-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
  height: auto;
  margin: auto;
  font-family: Arial, serif;
  font-size: 40px;
  font-weight: bold;
  padding: 40px;
}

.latest-message-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}