.message-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }  
  
.date {
  position: absolute;
  left: 10%;
  transform: translateX(-10%);
}
  
.message {
  width: 50%;
  text-align: center;
  margin-left: 25%;
  word-wrap: break-word; 
  overflow-wrap: break-word;
}

.message-image {
  max-width: 100%;
  height: auto;
}

