.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
}

.image-container {
  text-align: center;
  max-width: 50%; 
}

.message {
  display: inline-block;
  white-space: normal; 
  word-wrap: break-word; 
  overflow-wrap: break-word;
  text-align: center;
  max-width: 50%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
  height: auto;
  overflow: hidden;
}

.message-image {
  object-fit: contain; 
  max-width: 100%; 
  max-height: 100%; 
  height: auto; 
  width: auto;
}

.date {
  position: absolute;
  left: 10%;
  transform: translateX(-10%);
}
  
