.message-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border-radius: 10px;
}
  
.message-input {
  padding: 10px;
  width: 400px;  /* Adjust as needed */
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  flex-grow: 1;
  margin-right: 10px; 
}

.form-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Optional: Adjust the spacing between the input and other elements */
}

.message-input:focus {
  outline: none; /* Removes the default browser outline */
  border: none; /* Adds a new outline as a border on the element itself */
}
  
.submit-button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #9370DB; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Floral;
  font-size: 12px;
}

.submit-button:hover {
  background-color: #FFC0CB;
}

.file-upload-button {
  padding: 10px 20px;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #9370DB;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Floral;
  font-size: 12px;
}

.file-upload-button:hover {
  background-color: #FFC0CB;
}